html{
    font-size: 24px;
}


/*===============================*/
/*CONT: Global*/

.p-inputtext{
    width: 100%;
}

.p-password-input{
    width: 100%;
}

.p-button{
    background-color: #5C7AFF;
    width: 100%;
}

.p-divider{
    height: 1.5rem;
}

.companyRegister_CONT{
    margin: 5rem 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*===============================*/
/*CONT: Top*/

.CR-Top_title{
    color: #5C7AFF;
    text-align: center;
}


/*===============================*/
/*CONT: Main*/

.CR-Main{
    width: 100%;
}

.CR-Main_cont{
    display: flex;
    flex-direction: column;

    margin: 0.75rem 0rem;
}

.cr-main-label{
    font-size: 0.85em;
}

.CR-Main_underInputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#cr-main-chb{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#cr-main-chb-txt{
    margin: 0rem 0.25rem;
    color: #5C7AFF;
}

/*===============================*/
/*CONT: Bot*/
.CR-Bot{
    width: 100%;
}