/*======================================================================================*/


html{
    font-size: 24px;
}

.VSP_CONT{
    margin: 3em 2em;
}

.p-card{
    border-radius: 20px !important;
}

.p-card .p-card-body{
    padding: 1rem;
    border-radius: 20px !important;
}

.p-card .p-card-subtitle{
    font-size: 0.8em;
}
/*======================================================================================*/


/*Body: NAV*/
.VSP_HEAD_CONT{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    width: 100%;
}

.VSP_Nav_Cont{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.VSP_Nav_Btn{
    font-size: 0.75em;
}

/*======================================================================================*/


/*Body: MAIN*/
.VSP_MAIN_CONT{
    display: flex;
    flex-direction: row;
}

.VSP_StandList_Cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 75%;
}


/*-----------------------------------------------------------------------------------------*/
/*Section: STAND LIST*/
.VSP_StandList{
    margin: 1rem 2rem;

    width: 15rem;

    text-align: center;
    position: relative;
}

.VSP_cardHeader{
    height: 5rem;
    border-radius: 20px 20px 0px 0px;
}

.p-card-title{
    font-size: 1em !important;
    color: #5C7AFF;
    margin-bottom: 0rem !important;
}

#vsp-icon-plus{
    color: white;
    position: absolute;

    top: 2rem;
    font-weight: 700;
}