/*====================================================================================================*/


/*Body: css*/
.admin_SCT{
    display: flex;

    margin: 5em 3em 0em;
}

.SCT_CTA{
    width: 50%;
}

.SCT_DEC{
    width: 50%;
}


/*--------------------------------------------------------------------------------------*/


/*Divisor: Title*/
.admin_Ttl{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0em 0em 5em;
}

#hs{
    margin: 0em;
}

.Ttl_h1{
    margin: 0em 0em 0.1em;
    color: #5C7AFF;
    font-size: 1.75em;
}

.Ttl_h3{
    margin: 0em 0em -0.3em;
    color: #4A8FE7;
    font-size: 1.5em;
}


/*--------------------------------------------------------------------------------------*/


/*Divisor: Form*/
.admin_Frm{
    margin: 1em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frm_Dv{
    margin: 1em 0em 0em;
    display: flex;
    flex-direction: column;
}

.Input_Spn{
    margin: 0.5em 0em;
}

#inpt_txt_Admin{
    width: 25em;
}

.p-password-input{
    width: 25em;
}


/*--------------------------------------------------------------------------------------*/


/*Divisor: Button*/
.btn_CTA{
    width: fit-content;
    margin: 2em 0em 0em;
}

.p-button-label{
    width: 23em;
}