.fullCont{
    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: content-box;

    position: relative;
}

.fullCont_Btn{
    position: absolute;
    bottom: 0px;
}

.Btn_icon{
    position: absolute;
}