.fullCont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fullCont_Txt{
    text-align: center;
}

.fullCont_Tlt{
    font-size: 3em;
    color: #5C7AFF;
}

.fullCont_Ln{
    font-size: 2em;
}

#ln1{
    color: #4A8FE7;
}

#ln2{
    color: #5C6679;
}