/*====================================================================================================*/


/*Sectiom: Full Cont*/
.fullCont{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 5em 3em 10em;
}


/*--------------------------------------------------------------------------------------*/


/*Section: Txt_Cont*/
.Cont_Txt{
    text-align: center;
    margin: 0em 0em 3em;
}

.Cont_Tlt{
    font-size: 1.5em;
    color: #5C7AFF;
}

.Tlt_h{
    margin: 0em;
}

.Cont_Ln{
    font-size: 1em;
}

.Ln_h{
    margin: 0em;
}

#ln1{
    color: #4A8FE7;
}

#ln2{
    color: #5C6679;
}

.Cont_Btn{
    margin: 3em 0em 0em;
}

#btn_begin{
    height: 5em;
    width: 5em;
}