/*======================================================================================*/


/*Body: css*/

html{
    font-size: 24px;
}

#BOLD{
    font-weight: 700;
}

.FNL_CONT{
    margin: 3rem 2rem;
}

/*======================================================================================*/


/*Body: NAV*/
.FNL_HEAD_CONT{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    width: 100%;
}

.FNL_Nav_Cont{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.FNL_Nav_Btn{
    font-size: 0.75em;
}


/*======================================================================================*/


/*Body: MAIN*/
.FNL_MAIN_CONT{
    display: flex;
    flex-direction: row;
}

/*-----------------------------------------------------------------------------------------*/
/*Section: INFO*/
.Ttl_cmp{
    font-size: 1.25em;

    color: #5C7AFF;
}

.Sttl_cmp{
    font-size: 0.85em;
    font-weight: 500;

    color: #5C6679;
}


/*--------------------------------------------------------------------------------------*/
/*Section: TABLE*/
.FNL_Table_Cont{
    width: 75%;
}

.FNL_Table_Ttl{
    font-size: 0.75em;
    width: 6rem;
}


/*--------------------------------------------------------------------------------------*/
/*Section: GRAPH*/
.FNL_Graph_Cont{
    width: 75%;
}

.FNL_Graph_Element{
    width: 25rem;

    margin: 1rem 0rem 3rem;
}