#L_l1{
    color: #5C7AFF;
}

#L_l2, #L_l3{
    color: #4A8FE7;
}

#L_l4{
    color: #33373f;
}

.login{
    display: flex;
    flex-direction: column;
}

.loginTitle{
    text-align: center;
}

.input{
    margin: 4% 0% 4% 0%;
    display: flex;
    flex-direction: column;
}

.placeInput{
    margin-right: 1%;
}

.calendarContainer{
    display: flex;
    flex-direction: row;
}

.p-button{
    background: #5C7AFF;
}

.labelName{
    color: #33373f;
    font-weight: 300;
}