html{
    font-size: 24px;
}

.login{
    display: flex;
    flex-direction: column;

    margin: 3rem 1rem;
}


/*Section: text*/
.text{
    text-align: center;
    margin-bottom: 2rem;
}

.text_Ttl{
    color: #5C7AFF;
    font-size: 1.75em;
    margin: 0;
}

.text_Txt{
    color: #4A8FE7;
    font-size: 1.5em;
    margin: 0;
}

.text_Ln{
    color: #33373f;
    text-align: left;
    font-size: 0.9em;
    font-weight: 300;
    margin: 0;
}


/*Section: content*/
.content{
    margin: 0em 0em 3rem;
}

#btnExtraInfo{
    width: 90%;
    font-size: 0.85em;
    padding: 0em;
}

.input{
    margin: 1rem 0rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.labelName{
    color: #33373f;
    font-size: 0.8em;
    font-weight: 300;
}

/*Section: button*/
#btn_ing{
    width: 100%;
}