@media all and (min-width: 750px) and (max-width: 1079px){
    #root{
        background-color: lightcoral;
       }
}

@media all and (min-width: 1080px) and (max-width: 1178px){
    #root{
        background-color: lightgreen;
       }
}

@media all and (min-width: 1179px) and (max-width: 1289px){
    #root{
        background-color: lightblue;
       }
}

@media all and (min-width: 1290px) and (max-width: 1439px){
    #root{
        background-color: lightyellow;
       }

       @media all and (max-height: 1079px){
        #root{
            background-color: lightcoral;
           }
       }
}

@media all and (min-width: 1440px){
    #root{
        background-color: lightslategray;
       }

       @media all and (max-height: 1079px){
        #root{
            background-color: lightcoral;
           }
       }

       @media all and (min-height: 1080px) and (max-height: 1178px){
        #root{
            background-color: lightgreen;
           }
       }

       @media all and (min-height: 1179px) and (max-height: 1289px){
        #root{
            background-color: lightblue;
           }
       }

       @media all and (min-height: 1290px) and (max-height: 1439px){
        #root{
            background-color: lightyellow;
           }
       }
}
