/*============================================================================= TAMAÑO PEQUEÑO (S) 4.7'  =============================================================================*/
@media all and (min-width: 750px) and (max-width: 1080px)  and (max-height: 1500px){
    /*======================================= LOGIN PAGE =======================================*/
    
    #L_l1{
        font-size: 600%;
        margin: 10% 0% 0% 0%;
        text-align: left;
        padding-left: 10%;
    }

    #L_l3{
        text-align: right;
        padding-right: 10%; 
    }

    #L_l2, #L_l3{
        font-size: 415%;
        margin: 1% 0% -3% 0%;
    }

    #L_l4{
        font-size: 200%;
        font-weight: lighter;
    }

    .text{
        margin-bottom: 30%;
    }

    .content{
        margin-bottom: 20%;
    }

    #subTxt{
        padding-left: 22%;
    }

    .login{
        padding-left: 4%;
        padding-right: 4%;
    }

    .p-button{
        font-size: 200%;
    }

    .labelName{
        font-size: 150%;
    }
}

/*============================================================================= TAMAÑO MEDIANO (M) 6.1' =============================================================================*/
@media all and (min-width: 1080px) and (max-width: 1178px){

    /*======================================= LOGIN PAGE =======================================*/
    #L_l1{
        font-size: 800%;
        margin: 10% 0% 0% 0%;
        text-align: left;
        padding-left: 10%;
    }

    #L_l3{
        text-align: right;
        padding-right: 10%; 
    }

    #L_l2, #L_l3{
        font-size: 520%;
        margin: 1% 0% -3% 0%;
    }

    #L_l4{
        font-size: 300%;
        font-weight: lighter;
    }

    .text{
        margin-bottom: 40%;
    }

    .content{
        margin-bottom: 40%;
    }

    #l3{
        padding-left: 22%;
    }

    .login{
        padding-left: 4%;
        padding-right: 4%;
    }

    .p-button{
        font-size: 300%;
    }

    .labelName{
        font-size: 250%;
    }
}

/*============================================================================= TAMAÑO GRANDE (L) 6.1' SAMSUNG =============================================================================*/
@media all and (min-width: 1179px) and (max-width: 1289px){

    /*======================================= LOGIN PAGE =======================================*/
    #L_l1{
        font-size: 900%;
        margin: 10% 0% 0% 0%;
        text-align: left;
        padding-left: 10%;
    }

    #L_l3{
        text-align: right;
        padding-right: 10%; 
    }

    #L_l2, #L_l3{
        font-size: 620%;
        margin: 1% 0% -3% 0%;
    }

    #L_l4{
        font-size: 300%;
        font-weight: lighter;
    }

    .text{
        margin-bottom: 40%;
    }

    .content{
        margin-bottom: 40%;
    }

    #subTxt{
        padding-left: 22%;
    }

    .login{
        padding-left: 4%;
        padding-right: 4%;
    }

    .p-button{
        font-size: 350%;
    }

    .labelName{
        font-size: 250%;
    }
}

/*========================================================================== TAMAÑO EXTRA GRANDE (XL) 6.6' IPHONE ==========================================================================*/
@media all and (min-width: 1290px) and (max-width: 1439px){

    /*======================================= LOGIN PAGE =======================================*/
    #L_l1{
        font-size: 900%;
        margin: 10% 0% 0% 0%;
        text-align: left;
        padding-left: 10%;
    }

    #L_l3{
        text-align: right;
        padding-right: 10%; 
    }

    #L_l2, #L_l3{
        font-size: 620%;
        margin: 1% 0% -3% 0%;
    }

    #L_l4{
        font-size: 300%;
        font-weight: lighter;
    }

    .text{
        margin-bottom: 40%;
    }

    .content{
        margin-bottom: 40%;
    }

    #subTxt{
        padding-left: 22%;
    }

    .login{
        padding-left: 4%;
        padding-right: 4%;
    }

    .p-button{
        font-size: 400%;
    }
    
    .labelName{
        font-size: 250%;
    }

       @media all and (max-height: 1079px){
        #root{
            background-color: lightcoral;
           }
       }
}

/*======================================================================= TAMAÑO EXTRA EXTRA GRANDE (XXL) 6.8' IPHONE =======================================================================*/
@media all and (min-width: 1440px){

    /*======================================= LOGIN PAGE =======================================*/
    #L_l1{
        font-size: 1000%;
        margin: 10% 0% 0% 0%;
        text-align: left;
        padding-left: 10%;
    }

    #L_l3{
        text-align: right;
        padding-right: 10%; 
    }

    #L_l2, #L_l3{
        font-size: 720%;
        margin: 1% 0% -3% 0%;
    }

    #L_l4{
        font-size: 400%;
        font-weight: lighter;
    }

    .text{
        margin-bottom: 40%;
    }

    .content{
        margin-bottom: 40%;
    }

    #subTxt{
        padding-left: 22%;
    }

    .login{
        padding-left: 4%;
        padding-right: 4%;
    }

    .p-button{
        font-size: 400%;
    }
    
    .labelName{
        font-size: 350%;
    }
       @media all and (max-height: 1079px){
        #root{
            background-color: lightcoral;
           }
       }

       @media all and (min-height: 1080px) and (max-height: 1178px){
        #root{
            background-color: lightgreen;
           }
       }

       @media all and (min-height: 1179px) and (max-height: 1289px){
        #root{
            background-color: lightblue;
           }
       }

       @media all and (min-height: 1290px) and (max-height: 1439px){
        #root{
            background-color: lightyellow;
           }
       }
}
