/*============================================================================= TAMAÑO PEQUEÑO (S) 4.7'  =============================================================================*/
@media all and (min-width: 750px) and (max-width: 1080px)  and (max-height: 1500px){

    /*======================================= BEGIN PAGE =======================================*/
    .fullCont_Ln{
        margin: 20% 0% 25% 0%;
    }

    #l1, #l4, #l9, #l0{
        font-size: 500%;
        margin: 0% 0% -3% 0%;
    }

    #l2, #l3, #l5, #l6, #l7, #l8{
        font-size: 300%;
        margin: 0% 0% -3% 0%;
    }

    #l1, #l4, #l6{
        text-align: left;
        padding-left: 10%;
    }

    #l3, #l8{
        text-align: right;
        padding-right: 10%;
    }

    #l0{
        margin: 0% 0% 0% 0%;
    }

    .Btn_icon{
        bottom: 5%;
        left: 50%;
    }

    #btn_begin{
        font-size: 500%;
        width: 500%;
        padding: 0;
    }
}

/*============================================================================= TAMAÑO MEDIANO (M) 6.1' =============================================================================*/
@media all and (min-width: 1080px) and (max-width: 1178px){

    /*======================================= BEGIN PAGE =======================================*/
    .fullCont_Ln{
        margin: 25% 0% 30% 0%;
    }

    #l1, #l4, #l9, #l0{
        font-size: 800%;
        margin: 0% 0% -3% 0%;
    }

    #l2, #l3, #l5, #l6, #l7, #l8{
        font-size: 520%;
        margin: 2% 0% -3% 0%;
    }

    #l1, #l4, #l6{
        text-align: left;
        padding-left: 10%;
    }

    #l3, #l8{
        text-align: right;
        padding-right: 10%;
    }

    #l9{
        margin: 20% 0%;
    }

    #l0{
        margin: 0% 0% 0% 0%;
    }

    .Btn_icon{
        bottom: 5%;
        left: 50%;
    }

    #btn_begin{
        font-size: 1000%;
        width: 1000%;
        padding: 0;
    }
}

/*============================================================================= TAMAÑO GRANDE (L) 6.1' SAMSUNG =============================================================================*/
@media all and (min-width: 1179px) and (max-width: 1289px){

    /*======================================= BEGIN PAGE =======================================*/
    .fullCont_Ln{
        margin: 25% 0% 40% 0%;
    }

    #l1, #l4, #l9, #l0{
        font-size: 800%;
        margin: 0% 0% -3% 0%;
    }

    #l2, #l3, #l5, #l6, #l7, #l8{
        font-size: 520%;
        margin: 0% 0% -3% 0%;
    }

    #l1, #l4, #l6{
        text-align: left;
        padding-left: 10%;
    }

    #l3, #l8{
        text-align: right;
        padding-right: 10%;
    }

    #l0{
        margin: 0% 0% 0% 0%;
    }

    .Btn_icon{
        bottom: 5%;
        left: 50%;
    }

    #btn_begin{
        font-size: 1000%;
        width: 1000%;
        padding: 0;
    }

}

/*========================================================================== TAMAÑO EXTRA GRANDE (XL) 6.6' IPHONE ==========================================================================*/
@media all and (min-width: 1290px) and (max-width: 1439px){

    /*======================================= BEGIN PAGE =======================================*/
    .fullCont_Ln{
        margin: 20% 0% 25% 0%;
    }

    #l1, #l4, #l9, #l0{
        font-size: 800%;
        margin: 0% 0% -3% 0%;
    }

    #l2, #l3, #l5, #l6, #l7, #l8{
        font-size: 520%;
        margin: 0% 0% -3% 0%;
    }

    #l1, #l4, #l6{
        text-align: left;
        padding-left: 10%;
    }

    #l3, #l8{
        text-align: right;
        padding-right: 10%;
    }

    #l0{
        margin: 0% 0% 0% 0%;
    }

    .Btn_icon{
        bottom: 5%;
        left: 50%;
    }

    #btn_begin{
        font-size: 1000%;
        width: 1000%;
        padding: 0;
    }

       @media all and (max-height: 1079px){
        
       }
}

/*======================================================================= TAMAÑO EXTRA EXTRA GRANDE (XXL) 6.8' IPHONE =======================================================================*/
@media all and (min-width: 1440px){

    /*======================================= BEGIN PAGE =======================================*/
    .fullCont_Ln{
        margin: 20% 0% 25% 0%;
    }

    #l1, #l4, #l9, #l0{
        font-size: 800%;
        margin: 0% 0% -3% 0%;
    }

    #l2, #l3, #l5, #l6, #l7, #l8{
        font-size: 520%;
        margin: 0% 0% -3% 0%;
    }

    #l1, #l4, #l6{
        text-align: left;
        padding-left: 10%;
    }

    #l3, #l8{
        text-align: right;
        padding-right: 10%;
    }

    #l0{
        margin: 0% 0% 0% 0%;
    }

    .Btn_icon{
        bottom: 5%;
        left: 50%;
    }

    #btn_begin{
        font-size: 1000%;
        width: 1000%;
        padding: 0;
    }

       @media all and (max-height: 1079px){
        
       }

       @media all and (min-height: 1080px) and (max-height: 1178px){
        
       }

       @media all and (min-height: 1179px) and (max-height: 1289px){
        
       }

       @media all and (min-height: 1290px) and (max-height: 1439px){
        
       }
}
