/*====================================================================================================*/


/*Body: css*/
.newAdmin_SCT{
    display: flex;

    margin: 5em 3em 0em;
}

.SCT_CTA{
    width: 50%;
}

.SCT_DEC{
    width: 50%;
}

/*--------------------------------------------------------------------------------------*/


/*Divisor: Title*/
.newAdmin_Ttl{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0em 0em 3em;
}

#hs{
    margin: 0em;
}


/*--------------------------------------------------------------------------------------*/


/*Divisor: Form*/
.newAdmin_Frm{
    margin: 1em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Frm_Dv{
    margin: 1em 0em 0em;
    display: flex;
    flex-direction: column;
}