/*====================================================================================================*/


/*Body: css*/
.CLP_CONT{
    display: flex;
    flex-direction: column;

    margin: 5em 3em 0em;
}


/*--------------------------------------------------------------------------------------*/


/*Section: Banner*/
.Banner_Ttl{
    display: flex;
    align-items: baseline;
}

.Ttl_h1{
    margin-right: 0.3em;
}