/*====================================================================================================*/


/*Body: Global Cont*/
.Rlt_CONT{
    margin: 0rem 3rem 6rem;
}

/*--------------------------------------------------------------------------------------*/


/*Divisor: Blob*/
.Blob_CONT{
    width: 100%;
    height: 20em;

    margin: 0em;
}


/*--------------------------------------------------------------------------------------*/


/*Divisor: info*/
.Info_CONT{
    margin-top: -2rem;
}

.infoTitle_Cont{
    font-size: 1.15em;
    font-weight: 700;

    text-align: center;
    color: #4A8FE7;
}

.Ttl_Element{
    margin: 0;
}

.infoText_Cont{
    font-size: 0.95em;

    text-align: center;
    color: #4A8FE7;
}


/*--------------------------------------------------------------------------------------*/


/*Divisor: deco*/
.Deco_Cont{
    position: absolute;
    left: 1rem;
    bottom: -3rem;
}