/*====================================================================================================*/


/*Body: Global Cont*/
.Rlt_CONT{
    margin: 3em 3em 0em;
}

/*--------------------------------------------------------------------------------------*/


/*Divisor: Blob*/
.Blob_CONT{
    width: 100%;
    height: 20em;

    margin: 0em;
}


/*--------------------------------------------------------------------------------------*/


/*Divisor: Titulo*/
.Info_CONT{
    margin: 2em 0em 0em;
}

.Ttl_DIV{
    font-size: 2em;
    text-align: center;
    color: #4A8FE7;
}

.Ttl_Element{
    margin: 0em 0em 1em;
}


/*--------------------------------------------------------------------------------------*/


/*Divisor: Tags*/
.userTagLine{
    font-size: 1em;
}