/*====================================================================================================*/


/*Body: Global Cont*/
.Rlt_CONT{
    margin: 5em 3em 10em;
}

/*--------------------------------------------------------------------------------------*/


/*Divisor: Blob*/
.Blob_CONT{
    width: 100%;
    height: 20em;

    margin: 0em;
}


/*--------------------------------------------------------------------------------------*/


/*Divisor: Titulo*/
.Info_CONT{
    margin: 0em;
}

.Ttl_DIV{
    font-size: 2em;
    text-align: center;
    color: #4A8FE7;
}

.Ttl_Element{
    margin: 0em 0em 0.5em;
}

#userName{
    font-weight: 700;

    margin: 0em 0em 1em;

    color: #5C7AFF;
}

/*--------------------------------------------------------------------------------------*/


/*Divisor: Tags*/
.Tags_DIV{
    margin: 5em 0em 0em;
}

.userTagLine{
    font-size: 1.5em;
    margin: 1em 0em 0em;
}

.txt_Line{
    color: #4A8FE7;
    font-size: 1.15em;
}

.iconCircle{
    color: #5C7AFF;
}