/*====================================================================================================*/


/*Body: tag*/
.tag{
    padding: 0.75em;
    font-size: 1em;
    margin: 0.5em;
}

.T1_CONT{
    margin: 4em 3em 5em;
}


/*--------------------------------------------------------------------------------------*/


/*Divisor: Title*/
.titleTxt{
    font-size: 2em;
    text-align: center;
}

.Ttl_Strong{
    font-size: 1.25em;
    font-weight: bolder;

    color: #5C7AFF;
    margin: 0em;
}

.Ttl_Normal{
    margin: 0.5em 0em 0em;
    color: #4A8FE7;
}


/*--------------------------------------------------------------------------------------*/


/*Divisor: Clock*/
.Knb_CONT{
    display: flex;
    justify-content: center;

    margin: 2.5em 0em 0em;
}


/*--------------------------------------------------------------------------------------*/


/*Divisor: Steps*/
.Stp_CONT{
    margin: 2.5em 0em 0em;
}


/*--------------------------------------------------------------------------------------*/


/*Divisor: Tags*/
.Tgs_CONT{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    margin: 2.5em 0em 0em;

    height: 20em;
}


/*--------------------------------------------------------------------------------------*/


/*Divisor: Button*/
.btn{
    display: flex;
    justify-content: center;

    margin: 2.5em 0em 0em;
}

#btn_cont{
    width: 100%;
}