/*===============================================================================================*/
html{
    font-size: 24px;
}

.Tags_CONT{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 3rem 2rem;
}


/*--------------------------------------------------------------------------------------*/


/*Section: Info*/
.Info_CONT_Tags{
    margin-bottom: 1rem;
    width: 100%;
}

.infoTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin-bottom: 1.85rem;
}

.infoImage{
    width: 100%;
    position: relative;
}

#t-img{
    width: 100%;
}

.infoProgress{
    height: 6px;
    color: transparent;
}


/*--------------------------------------------------------------------------------------*/

/*Body: tag*/
.Interact_CONT_Tags{
    margin-bottom: 1em;
    width: 100%;
}

.TagsTxt{
    margin: 0em;
}

#TagsTitle{
    font-size: 1.15em;
    font-weight: 700;
    color: #5C7AFF;
}

.interactTagList_Tags{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tag{
    font-size: 0.75em;
    font-weight: 500;

    text-align: center;

    padding: 0.5rem;
    margin: 0.5rem;

    width: 100%;
    height: 3em;
}

.interactButton_Tags{
    display: flex;
    justify-content: center;

    margin: 2.5rem 0em 0em;
}

.p-progressbar-label{
    display: none !important;
}

#btn_cont{
    font-size: 0.75em;
    font-weight: 500;
    border-radius: 7px;

    width: 100%;
    height: 3.15em;
}

.MiniButton_T{
    position: absolute;
    top: 7rem;
    right: 1.5rem;
}

#minibtn_t{
    width: 1rem;
    height: 1rem;

    padding: 0.55rem;
}

.p-button-icon{
    font-size: 0.65em;
}

/*-----------------------------------------------------------------------------------------------*/
.rules-cont_Ttl{
    color: #5C7AFF;
}

.p-progressbar{
    border-radius: 7px !important;
}

.p-dialog-title{
    color: #5C7AFF;
}